
 #wpadminbar #wp-admin-bar-edit-live>.ab-item:before{
  content: "\f502";
  top: 2px;
}
 #wpadminbar a[disabled]{color: #777 !important;cursor:default; background: #333 !important;}
 #wpadminbar a[disabled]:before{color: #777 !important;}
.acfImageEditable:hover:after{

}
[contenteditable]:hover,
.acfImageEditable:hover {
  outline:2px solid #afa;
  z-index: 159898;
  position: relative;
}
.hd-pop {
  position: fixed;
  min-width: 300px;
  background: rgba(0, 0, 0, 0.72);
  color: #FBFBFB;
  line-height: 50px;
  font-weight: 700;
  top: 20px;
  right: 20px;
  border-radius: 6px;
  padding: 10px 30px;
  font-size: 16px;
  z-index: 999;
}